table{
  width:100%;
  border-collapse:collapse;
  margin:20px 0;
}
th,td{
  border:1px solid #ddd;
  padding:12px;
  text-align:left;
}
thead{
  background:#3498db;
  color:white;
}
tbody tr:nth-child(even){
  background:#f2f2f2;
}
tbody tr:hover{
  background:#ddd;
}
button{
  cursor:pointer;
}
input[type="number"]{
  border:2px solid blue;
  background:#eaf2f8;
}
input[type="text"]{
  border:2px solid green;
}
button:hover{
  background:green;
  transform:scale(1.05);
}
input:focus, select:focus{
  outline:3px solid orange;
  back
/* descendant selector */
.expenses-section td{
  font-weight:500;
}

/* direct child selector */
.add-expense-section > input{
  margin-bottom:10px;
}